Flask>=0.11.1
Flask-Bootstrap>=3.3.7.1
Flask-Debug>=0.4.3
Flask-WTF>=0.14.2
Jinja2>=2.8
MarkupSafe>=0.23
WTForms>=2.1
Werkzeug>=0.11.11
flask-appconfig>=0.11.1
flask-nav>=0.6
joblib>=0.11
pickleshare>=0.7.3
requests>=2.13.0
setuptools>=28.1.