{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="col-md-12 input_form">
            <form action="predict" method="GET">
                <label>
                    {{ form.textarea(cols="130", rows="20") }}
                    {# or we can use this: {{ wtf.quick_form(form, novalidate=True) }} #}
                    <input type="submit" value="Show the mark!" class="btn btn-default">
                </label>
            </form>
        </div>
    </div>
{%- endblock %}
